{% extends "react_plugins_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'generator:list' %}">{% trans 'List Generators' %}</a>
        &rsaquo; Add Generators
        {% block breadcrumb %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div id="generator-add"></div>

    {% load react_serve %}
    <script type="text/javascript" src="{% react_serve 'react-plugins.js' %}"></script>
    <script>
        let messageNo = 1;
        reactPlugins.render(
            'GeneratorAdd',
            '#generator-add',
        );
    </script>
{% endblock %}
