@import '~base-scss/base';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        margin-top: $spacing-large;
        border: 1px solid $color-separator;
        border-style: dashed;
        padding: $spacing-large;
        width: 100%;
        overflow-y: auto;

        .downImage {
            display: flex;
            flex-shrink: 0;
            font-size: $font-size-large;
        }

        .downloads {
            flex-grow: 1;
            padding: $spacing-small;
            overflow-y: auto;
        }
    }

    .button {
        flex-basis: auto;
        padding: $spacing-small $spacing-medium;
        width: auto;
        text-transform: capitalize;
        font-size: $font-size-medium-alt;
    }
}
