@import '~base-scss/base';

.container {
    .files-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;

        .file {
            padding-left: $spacing-medium;

            &:not(:last-child) {
                &:after {
                    content: ',';
                }
            }
        }
    }

    .download-zip {
        display: block;
        padding-bottom: $spacing-large;
        text-align: center;
        font-size: $font-size-large;
    }
}
