@import '~base-scss/base';

.container {
    width: auto;
    overflow-y: auto;
    text-transform: capitalize;
    font-size: $font-size-medium;
}

.spinner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: $spacing-large;

    .spinner {
        width: $font-size-super-large-alt;
        height: $font-size-super-large-alt;
    }
}
