@import '~base-scss/base';

.container {
    width: auto;
    overflow-y: auto;
    text-transform: capitalize;

    .info-group {
        font-size: $font-size-large;

        .label {
            padding: $spacing-small-alt $spacing-medium;
        }

        .value {
            padding: $spacing-small-alt $spacing-medium;
            font-weight: $font-weight-bold;
        }
    }
}

.spinner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: $spacing-large;

    .spinner {
        width: $font-size-super-large-alt;
        height: $font-size-super-large-alt;
    }
}
