@import '~base-scss/base';

$height-header: 32px;

.wizard-container {
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: $height-header;

        .download-button {
            @include button-like-link($color-foreground);
            margin-left: $spacing-medium;

            >span {
                margin-right: $spacing-small;
            }
        }
    }

    .wizard {
        height: calc(100% - #{$height-header});
    }
}
